            
            <div class="educacion">
              <h4 class="text-warning medium-heading">Educación<a href="{site_url}perfil/edit-formacion-academica" class="btn btn-xs btn-default">EDITAR</a></h4>
              {exp:freeform:entries form_name="formacion_academica" limit="1" author_id="{embed:miembro}"} 
              <h5><strong class="text-gray-light">Carrera:</strong> Administración</h5>
              <h5><strong class="text-gray-light">Nombre de la institución: </strong>{freeform:field:nombre_institucion}</h5>
              {/exp:freeform:entries}
            </div>
            