            
            <div class="experiencia mt-21">
              <h4 class="text-warning medium-heading">Experiencia laboral <a href="{site_url}perfil/edit-cv" class="btn btn-xs btn-default">EDITAR</a></h4>
              {exp:freeform:entries form_name="cv" limit="1" author_id="{embed:miembro}"} 
              <h5><strong class="text-gray-light">{freeform:field:nombre_empresa_1}</strong></h5>
              <h5>({freeform:field:mes_inicio_empresa_1}{freeform:field:year_inicio_empresa_1}-{freeform:field:mes_salida_empresa_1}{freeform:field:year_salida_empresa_1})</h5>
              {/exp:freeform:entries}
            </div>