{exp:query sql="SELECT * FROM exp_freeform_form_entries_2 WHERE author_id={embed:miembro}"}
  {exp:freeform:edit 
    form_name="formacion_academica"
    return="/" 
    entry_id="{entry_id}" }
{/exp:query}
<input type="hidden" name="member_id" value="{member_id}" />
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <select class="selectpicker full-width p-7" type="text" name="tipo_formacion" value="{freeform:edit_data:tipo_formacion}" id="freeform_tipo_formacion" maxlength="150">
          <option>Tipo de formación</option>
          <option>Universitario</option>
          <option>Técnico</option>
          <option>Secundario</option>
        </select>
      </div>
      <div class="form-group">
        <select class="selectpicker full-width p-7" type="text" name="tipo_carrera" value="{freeform:edit_data:tipo_carrera}" id="freeform_tipo_carrera" maxlength="150">
          <option>Tipo de carrera</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <select class="selectpicker full-width p-7" type="text" name="estado" value="{freeform:edit_data:estado}" id="freeform_estado" maxlength="150">
          <option>Estado</option>
          <option>Concluido</option>
          <option>En curso</option>
          <option>Trunco</option>
        </select>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Nombre de la institución" type="text" name="nombre_institucion" value="{freeform:edit_data:nombre_institucion}" id="freeform_nombre_institucion" maxlength="150"> 
      </div>
    </div>
  </div>
  <div class="row mv-7">
    <div class="col-md-6">
      <label for="exampleInputName2" class="text-gray h4">Fecha de inicio</label>
      <select class="selectpicker pv-7 pr-35 pl-7"  type="text" name="mes_inicio_formacion" value="{freeform:edit_data:mes_inicio_formacion}" id="freeform_mes_inicio_formacion" maxlength="150">
        <option>Mes</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
      </select>
      <select class="selectpicker pv-7 pr-28 pl-7" type="text" name="year_inicio_formacion" value="{freeform:edit_data:year_inicio_formacion}" id="freeform_year_inicio_formacion" maxlength="150">
        <option>Año</option>
        <option>1990</option>
        <option>1991</option>
        <option>1992</option>
        <option>1993</option>
        <option>1994</option>
        <option>1995</option>
        <option>1996</option>
        <option>1997</option>
        <option>1998</option>
        <option>1999</option>
        <option>2000</option>
        <option>2001</option>
        <option>2002</option>
        <option>2003</option>
        <option>2004</option>
        <option>2005</option>
        <option>2006</option>
        <option>2007</option>
        <option>2008</option>
        <option>2009</option>
        <option>2010</option>
        <option>2011</option>
        <option>2012</option>
        <option>2013</option>
        <option>2014</option>
        <option>2015</option>
      </select>
    </div>
    <div class="col-md-6">
      <label for="exampleInputName2" class="text-gray h4">Fecha de salida</label>
      <select class="selectpicker pv-7 pr-35 pl-7" type="text" name="mes_salida_formacion" value="{freeform:edit_data:mes_salida_formacion}" id="freeform_mes_salida_formacion" maxlength="150">
        <option>Mes</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
      </select>
      <select class="selectpicker pv-7 pr-28 pl-7" type="text" name="year_salida_formacion" value="{freeform:edit_data:freeform_year_salida_formacion}" id="freeform_year_salida_formacion" maxlength="150">
        <option>Año</option>
        <option>1990</option>
        <option>1991</option>
        <option>1992</option>
        <option>1993</option>
        <option>1994</option>
        <option>1995</option>
        <option>1996</option>
        <option>1997</option>
        <option>1998</option>
        <option>1999</option>
        <option>2000</option>
        <option>2001</option>
        <option>2002</option>
        <option>2003</option>
        <option>2004</option>
        <option>2005</option>
        <option>2006</option>
        <option>2007</option>
        <option>2008</option>
        <option>2009</option>
        <option>2010</option>
        <option>2011</option>
        <option>2012</option>
        <option>2013</option>
        <option>2014</option>
        <option>2015</option>
      </select>
    </div>
  </div>
  <div class="row mb-14">
    <div class="col-md-8">
      <label for="exampleInputName2" class="text-gray h4 mr-21">Estado</label>
      <select class="selectpicker p-7" type="text" name="estado_estudios" value="{freeform:edit_data:estado_estudios}" id="freeform_estado_estudios" maxlength="150">
        <option>Actualmente estudiando</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>
  </div>
  <div class="row mt-21">
    <div class="col-md-4 pr-0">
      <label class="checkbox-inline h4">
        <input type="checkbox" id="inlineCheckbox2" value="option2" class="mt-7">Agregar otros estudios
      </label>
    </div>
    <div class="col-md-6">
      <select class="selectpicker p-7 full-width">
        <option>Curso - taller</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-4">
      <label for="exampleInputName2" class="text-gray h4">Nombre del curso - taller</label>
      <input type="text" class="form-control" id="exampleInputName2">
    </div>
  </div>
  <h4 class="text-danger medium-heading mv-35">Información adicional</h4>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <select class="selectpicker full-width p-7" name="manejo_software" value="{freeform:edit_data:manejo_software}" id="freeform_manejo_software">
          <option>Manejo de software</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>
      <div class="form-group">
        <select class="selectpicker full-width p-7" type="text" name="tipo_carrera_adicional" value="{freeform:edit_data:tipo_carrera_adicional}" id="freeform_tipo_carrera_adicional" maxlength="150">
          <option>Tipo de carrera</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
      <select class="selectpicker full-width p-7" type="text" name="conocimiento_normas" value="{freeform:edit_data:conocimiento_normas}" id="freeform_conocimiento_normas" maxlength="150">
          <option>Conocimiento de normas</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="exampleInputName2" placeholder="Membresía en colegios">
      </div>
    </div>
  </div>
  <div class="pv-21 text-right">
    <a href="#" class="btn bg-gray-light light mr-7 text-white">ATRÁS</a>
    <input type="submit" name="submit" value="TERMINAR" class="btn text-white btn-danger light">
  </div>
{/exp:freeform:edit}     
</div>