<header class="header mt-7">
  <div class="left"></div>
  <div class="right">
    <div class="navbar">
      <div class="navbar-header">
        <button type="button" class="tcon tcon-menu--xcross hidden-lg" aria-label="toggle menu">
          <span class="tcon-menu__lines" aria-hidden="true"></span>
          <span class="tcon-visuallyhidden">toggle menu</span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav pull-right list-unstyled">
          <li class="active">
            <a class="book-heading h4 gray-link" href="{site_url}content/somos">Sobre nosotros</a>
          </li>
          <li class="active">
            <a class="book-heading h4 gray-link" href="{site_url}blog">Blog</a>
          </li>                      
<!--           <li>
            <a class="book-heading h3 gray-link" href="#">Oportunidades</a>
          </li>
          <li class="p-7">
            <select name="" id="" class="btn select-btn">
              <option value="">ES</option>
              <option value="">EN</option>
            </select>
          </li> -->
          {if logged_out}
          <li>
            <a href="#" class="btn-submit-header" id="ingresar" data-toggle="modal" data-target="#myModal">INGRESAR</a>
          </li>
          {/if}
          {if logged_in}
            {exp:member:custom_profile_data}
              <li class="pull-left"><a class="btn-submit-header" href="{path='logout'}">{primer_nombre}, SALIR</a></li>
            {/exp:member:custom_profile_data}
          {/if}
        </ul>
      </div>
        <!--/.nav-collapse -->         
    </div>
  </div>
</header>

<!-- Modal -->
<div class="modal fade modal-1" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h1 class="modal-title text-primary text-center medium-heading" id="myModalLabel">Ingresa a tu cuenta</h1>
      </div> 
      <div class="modal-body">
        <div id="login" class=" bg-white mv-35">
          {embed="includes/login-form-modal"}
        </div>
      </div>
    </div>
  </div>
</div> 