<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Farolito | Trabajo para los mejores</title>
    <!-- Project SEO -->
    <meta name="description" content="">
    <meta name="keywords" content="" /> 
    <meta name="author" content="Ayu Consulting S.A.C."/>
    <!-- Responsiveness -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <!-- FAVICON -->
    <!-- <link rel="shortcut icon" href="assets/icons/favicon.ico"> -->
    <!-- WebFonts -->
    <script src="//use.typekit.net/xml0khw.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <!-- scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{site_url}js/global.js"></script>
    <link rel="shortcut icon" href="{site_url}assets/icons/farolito.ico"/>
    <!-- APP STYLES 
      *Run grunt build when ready
      <link rel="stylesheet" href="assets/css/style.pkgd.min.css">
    -->
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" /> 
    <link href="{site_url}stylesheets/ebm.css" rel="stylesheet">
		<link href="{site_url}stylesheets/style.css" rel="stylesheet">
  </head>
  <body>