{exp:member:login_form return="site/index"}
  <div class="form-group">
    <input type="text" name="username" class="form-control"placeholder="username" value="" maxlength="32" size="25">
  </div>
  <div class="form-group">
    <input type="password" name="password" class="form-control" value="" maxlength="32" size="25" placeholder="Contraseña">
  </div>
  {if auto_login}
    <p><input type="checkbox" name="auto_login" value="1"> Auto-login on future visits</p>
  {/if}
  <div class="pv-14 text-right">
    <input type="submit" name="submit" class="pull-right btn btn-lg btn-primary" value="INGRESAR">
  </div>
  <a href="{path='member/forgot_password'}">¿Olvidaste tu contraseña?</a><br>
  <a href="{site_url}/perfil">¿No estas registrado? Crea tu cuenta aquí</a>
{/exp:member:login_form}