          <div class="header-global clearfix">
            <div class="pull-left">
              <a href="{site_url}"><img src="{site_url}assets/img/logo_small.png" class="ml-28"></a>
            </div>
            <div class="pull-right">
              <ul class="list-unstyled">
                <li class="pull-left"><span><a href="{site_url}content/somos" class="h5 uppercase">Sobre nosotros</a></span></li>
                <li class="pull-left"> | </li>
                <li class="pull-left"><span><a href="{site_url}anuncios/anuncio" class="h5 uppercase">Oportunidades</a></span></li>
                <li class="pull-left"> | </li>
                <li class="pull-left"><span><a href="{site_url}blog" class="h5 uppercase">Blog</a></span></li>
           <!-- <li class="pull-left"> | </li>
                <li class="pull-left"><span><a href="#" target="_blank">Vacantes</a></span></li> -->
                {if logged_out}
                <li class="pull-left">
                  <a href="#" class="btn-submit-header btn-ingresar h5" id="ingresar" data-toggle="modal" data-target="#myModal">INGRESAR</a>
                </li>
                {/if}
                {if logged_in}
                  {exp:member:custom_profile_data}
                    <li class="pull-left"><a class="btn-submit-header uppercase h5 btn-ingresar" href="{path='logout'}">Hola {primer_nombre} | SALIR</a></li>
                  {/exp:member:custom_profile_data}
                {/if}
              </ul>
            </div>
          </div>