        <div class="footer clearfix">
          <div class="pull-left">
            <ul class="list-unstyled">
              <li><img class="img-circle img-thumbnail img-responsive" src="{site_url}assets/img/fcbk.png" alt=""></li>
              <li><img class="img-circle img-thumbnail img-responsive" src="{site_url}assets/img/twitter.png" alt=""></li>
              <li><img class="img-circle img-thumbnail img-responsive" src="{site_url}assets/img/googleplus.png" alt=""></li>
            </ul>
          </div>
          <div class="pull-right pt-7 ph-21">
            <h5 class="text-muted">todos los derechos reservados</h5>
          </div>
        </div>