{embed="includes/header"}
    <div class="site-wrapper">
      <div class="site-header">
        <div class="container-fluid p-0">
          {embed="includes/menu"}
        </div>
      </div>
      <div class="site-content">
        <section class="minhp-100 pt-70">
          <div class="container">
            <h1 class="text-center">Blog Farolito</h1>
            <ul class="grid-list grid-list-3 grid-list-1-xs isotope-grid blog-grid pv-70">
	            {exp:channel:entries channel="blog" limit="10" dynamic="off"}
              <li>
                <a href="{site_url}blog/post/{url_title}">
	                <div class="pic">
	                  <div style="background-image: url({site_url}assets/img/user_male.png);"></div>
	                </div>
	                <div class="content">
	                  <h5 class="text-black pt-21">{title}</h5>
	                  <p class="text-primary">{descripcion-blog}</p>
	                </div>
                </a>
              </li>
              {/exp:channel:entries}
            </ul>
          </div>
        </section>
      </div>
      {embed="includes/pie-pagina"}
    </div>
{embed="includes/footer"}
