{embed="includes/header"}
    <div class="site-wrapper">
      <div class="site-header">
        <div class="container-fluid p-0">
          {embed="includes/menu"}
        </div>
      </div>
      <div class="site-content">
        <section class="minhp-100 blog-single">
          <div class="container pb-35">
	          {exp:channel:entries channel="blog" limit="1"}
            <div class="row">
              <div class="col-sm-10 col-md-offset-1">
                <span>{entry_date format='%d/%m/%Y'}</span>
                <h2 class="text-primary">{title}</h2>
                <div class="author-desc">
                  <div class="author" style="background-image: url({site_url}assets/img/user_male.png);"></div>
                  <div class="inline-block">
                    <ul class="list-unstyled">
                      <li><h4 class="m-0 text-primary medium-heading">{autor-blog}</h4></li>
                      <li><h5 class="m-0 book-heading">{posicion-autor-blog}</h5></li>
                    </ul> 
                  </div>
                </div>
                {contenido-blog}
              </div>
              <div class="col-sm-3 pl-28">
                <div class="articulos pb-28">
                  <h4 class="text-warning medium-heading">Artículos</h4>
                  <div class="categories">
                    <ul class="list-unstyled">
                      <li>Aprendizaje</li>
                      <li>Avisos</li>
                      <li>General</li>
                      <li>General</li>
                    </ul>
                  </div>
                </div>
                <div class="ultimos-articulos">
                  <h4 class="text-warning medium-heading">Ultimos Artículos</h4>
                  <div class="article-preview mt-42 text-center">
                    <div class="author tiny" style="background-image: url({site_url}assets/img/user_male.png);"></div>
                    <p>Cow frankfurter ham bacon tail chuck turducken.</p>
                  </div>
                </div>
              </div>
            </div>
            {/exp:channel:entries}
          </div>
        </section>
      {embed="includes/pie-pagina"}
      </div>
    </div>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=hermanmarin" async="async"></script>
{embed="includes/footer"}
