{embed="includes/header"}
{exp:user:edit return="perfil/cv"}


<div class="site-wrapper">
      <div class="site-header">
        <div class="container-fluid p-0">
        {embed="includes/menu"}
        </div>
      </div>
<div class="site-content">
        <div class="container-sm ptp-7">
          <h1 class="medium-heading text-gray-light text-center">Crea tu perfil</h1>
          <div class="icons">
            <!-- <ul id="progressbar">
              <li class="active">Account Setup</li>
              <li>Social Profiles</li>
              <li>Personal Details</li>
            </ul>  -->           
          </div>
          <h4 class="text-primary medium-heading">Datos personales</h4>
          <div class="row">
            <div class="col-md-6">
              <div>
                <div class="form-group">
                  <label for="exampleInputName2" class="text-gray h4"><span class="text-primary">*</span>Nombre</label>
                  <input type="text" class="form-control" name="primer_nombre" value="{primer_nombre}">
                </div>
				<div class="form-group">
                  <label for="exampleInputName2" class="text-gray h4"><span class="text-primary">*</span>Apellido paterno</label>
                  <input type="text" class="form-control" name="apellido_paterno" value="{apellido_paterno}">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div>
                <div class="form-group">
                  <label for="exampleInputName2" class="text-gray h4"><span class="text-primary">*</span>Segundo nombre</label>
                  <input type="text" class="form-control" name="segundo_nombre_nuevo" value="{segundo_nombre_nuevo}">
                </div>
                <div class="form-group">
                  <label for="exampleInputName2" class="text-gray h4"><span class="text-primary">*</span>Apellido materno</label>
                  <input type="text" class="form-control" name="apellido_materno" value="{apellido_materno}">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <label for="exampleInputName2" class="text-gray h4">Fecha de nacimiento</label>
            </div>
            <div class="col-md-2">
              <select class="selectpicker p-7 full-width" name="dia_nacimiento" value="{dia_nacimiento}">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
                <option>15</option>
                <option>16</option>
                <option>17</option>
                <option>18</option>
                <option>19</option>
                <option>20</option>
                <option>21</option>
                <option>22</option>
                <option>23</option>
                <option>24</option>
                <option>25</option>
                <option>26</option>
                <option>27</option>
                <option>28</option>
                <option>29</option>
                <option>30</option>
                <option>31</option>
              </select>
            </div>
            <div class="col-md-2">
              <select class="selectpicker p-7 full-width" name="mes_nacimiento" value="{mes_nacimiento}">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
              </select>
            </div>
            <div class="col-md-2">
              <select class="selectpicker p-7 full-width" name="year_nacimiento" value="{year_nacimiento}">
                <option>1960</option>
                <option>1961</option>
                <option>1962</option>
                <option>1963</option>
                <option>1964</option>
                <option>1965</option>
                <option>1966</option>
                <option>1967</option>
                <option>1968</option>
                <option>1969</option>
                <option>1970</option>
                <option>1971</option>
                <option>1972</option>
                <option>1973</option>
                <option>1974</option>
                <option>1975</option>
                <option>1976</option>
                <option>1977</option>
                <option>1978</option>
                <option>1979</option>
                <option>1980</option>
                <option>1981</option>
                <option>1982</option>
                <option>1983</option>
                <option>1984</option>
                <option>1985</option>
                <option>1986</option>
                <option>1987</option>
                <option>1988</option>
                <option>1989</option>
                <option>1990</option>
                <option>1991</option>
                <option>1992</option>
                <option>1993</option>
                <option>1994</option>
                <option>1995</option>
                <option>1996</option>
                <option>1997</option>
                <option>1998</option>
                <option>1999</option>
              </select>
            </div>
          </div>
          <div class="row mv-7">
            <div class="col-md-8">
              <label for="exampleInputName2" class="text-gray h4 mr-14">Sexo</label>
              <label class="radio-inline h4 mt-0">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio1" name="sexo" value="{sexo}" class="mt-7"> Femenino
              </label>
              <label class="radio-inline h4">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio2" name="sexo" value="{sexo}" class="mt-7"> Masculino
              </label>
            </div>
          </div>
          <div class="row pl-14">
            <div class="col-md-4 ph-0">
              <div class="form-group">
                <label for="exampleInputEmail1" class="text-gray h4"><span class="text-primary">*</span>Documento de identidad</label>
              </div>
            </div>
            <div class="col-md-2">
              <select class="selectpicker p-7 full-width ph-0" name="tipo_documento" value="{tipo_documento}">
                <option>D.N.I</option>
                <option>C.E.</option>
              </select>
            </div>
            <div class="col-md-4">
              <input type="text" class="form-control" name="documento_identidad" value="{documento_identidad}">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1" class="text-gray h4"><span class="text-primary">*</span>Correo electrónico</label>
                <input type="email" class="form-control" name="email" value="{email}">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <label for="exampleInputEmail1" class="text-gray h4">Telefono fijo</label>
              <input type="text" class="form-control" name="telefono_fijo" value="{telefono_fijo}">
            </div>
            <div class="col-md-4">
              <label for="exampleInputEmail1" class="text-gray h4">Celular</label>
              <input type="text" class="form-control" name="celular" value="{celular}">
            </div>
            <div class="col-md-4">
              <label for="exampleInputEmail1" class="text-gray h4">Otro celular</label>
              <input type="text" class="form-control" name="otro_celular" value="{otro_celular}" >
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label for="exampleInputEmail1" class="text-gray h4">Estado civil</label>
              <select class="selectpicker p-7 full-width" name="estado_civil" value="{estado_civil}">
                <option>Soltera(a)</option>
                <option>Casado(a)</option>
              </select>                  
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <label for="exampleInputEmail1" class="text-gray h4">País</label><br>
              <select class="selectpicker p-7 full-width" name="pais" value="{pais}">
                <option>Perú</option>
              </select>
            </div>
            <div class="col-md-4">
              <label for="exampleInputEmail1" class="text-gray h4">Departamento</label><br>
              <select class="selectpicker p-7 full-width" name="departamento" value="{departamento}">
                <option>Amazonas</option>
                <option>Ancash</option>
                <option>Apurimac</option>
                <option>Arequipa</option>
                <option>Ayacucho</option>
                <option>Cajamarca</option>
                <option>Callao</option>
                <option>Cusco</option>
                <option>Huancavelica</option>
                <option>Huanuco</option>
                <option>Ica</option>
                <option>Junin</option>
                <option>La Libertad</option>
                <option>Lambayeque</option>
                <option>Lima</option>
                <option>Loreto</option>
                <option>Madre De Dios</option>
                <option>Moquegua</option>
                <option>Pasco</option>
                <option>Piura</option>
                <option>Puno</option>
                <option>San Martin</option>
                <option>Tacna</option>
                <option>Tumbes</option>
                <option>Ucayali</option>
              </select>
            </div>
            <div class="col-md-4">
              <label for="exampleInputEmail1" class="text-gray h4">Provincia</label><br>
              <select class="selectpicker p-7 full-width" name="provincia" value="{provincia}">
                <option>Barranca</option>
                <option>Cajatambo</option>
                <option>Canta</option>
                <option>Lima</option>
              </select>
            </div>
          </div>
          <h4 class="text-danger medium-heading mv-35">Otros datos adicionales</h4>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1" class="text-gray mt-0 h4">Otro correo electrónico</label>
                <input type="email" class="form-control" name="otro_email" value="{otro_email}">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <label for="exampleInputEmail1" class="text-gray h4">Teléfono de algún pariente o amigo</label>
              <input type="text" class="form-control" name="telefono_pariente" value="{telefono_pariente}">
            </div>
            <div class="col-md-6">
              <label for="exampleInputEmail1" class="text-gray h4">Nombre del pariente o amigo</label>
              <input type="text" class="form-control" name="nombre_pariente" value="{nombre_pariente}">
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <label for="exampleInputEmail1" class="text-gray h4">País</label><br>
              <select class="selectpicker p-7 full-width" name="pais" value="{pais}">
                <option>Perú</option>
              </select>
            </div>
            <div class="col-md-4">
              <label for="exampleInputEmail1" class="text-gray h4">Departamento</label><br>
              <select class="selectpicker p-7 full-width" name="departamento" value="{departamento}">
                <option>Amazonas</option>
                <option>Ancash</option>
                <option>Apurimac</option>
                <option>Arequipa</option>
                <option>Ayacucho</option>
                <option>Cajamarca</option>
                <option>Callao</option>
                <option>Cusco</option>
                <option>Huancavelica</option>
                <option>Huanuco</option>
                <option>Ica</option>
                <option>Junin</option>
                <option>La Libertad</option>
                <option>Lambayeque</option>
                <option>Lima</option>
                <option>Loreto</option>
                <option>Madre De Dios</option>
                <option>Moquegua</option>
                <option>Pasco</option>
                <option>Piura</option>
                <option>Puno</option>
                <option>San Martin</option>
                <option>Tacna</option>
                <option>Tumbes</option>
                <option>Ucayali</option>
              </select>
            </div>
            <div class="col-md-4">
              <label for="exampleInputEmail1" class="text-gray h4">Provincia</label><br>
              <select class="selectpicker p-7 full-width" name="provincia" value="{provincia}" >
                <option>Barranca</option>
                <option>Cajatambo</option>
                <option>Canta</option>
                <option>Lima</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label for="exampleInputEmail1" class="text-gray h4">Ciudades en donde busca trabajo:</label><br>
              <select class="selectpicker p-7 full-width">
                <option>Arequipa</option>
                <option>Chiclayo</option>
                <option>Lima</option>
                <option>Trujillo</option>
              </select>
            </div>
          </div>
          <div class="pv-21 text-right">
            <a href="#" class="btn bg-gray-light light mr-7 text-white">ATRÁS</a>
            <input class="btn text-white btn-danger light" type="submit" value="CONTINUAR">
          </div>
        </div>
      </div>

{/exp:user:edit}