{embed="includes/header"}
<div class="site-wrapper">
  <div class="site-header">
    <div class="container-fluid p-0">
    {embed="includes/menu"}
    </div>
  </div>
  <div class="site-content">
  <div class="container-sm ptp-7">
    <h1 class="medium-heading text-gray-light text-center">Curriculum-vitae</h1>
    <div class="icons-pasos">
      <ul id="progressbar">
        <li class="active text-primary">Datos Personales</li>
        <li class="text-primary active">C.V</li>
        <li class="text-gray">Formación académica</li>
      </ul>            
    </div>
    <h3 class="text-primary medium-heading">Experiencia laboral</h3>
      {embed="includes/new_cv"}
  </div>
</div>
{embed="includes/footer"}