{embed="includes/header"}
<div class="site-wrapper">
  <div class="site-header">
    <div class="container-fluid p-0">
    {embed="includes/menu"}
    </div>
  </div>
  <div class="site-content">
  <div class="container-sm ptp-7">
    <h1 class="medium-heading text-gray-light text-center">Crea tu perfil</h1>
    <div class="icons">            
    </div>
    <h3 class="text-primary medium-heading">Curriculum-vitae</h3>
    <h4 class="text-danger medium-heading">Experiencia laboral</h4>
    
    {exp:member:custom_profile_data}  
      {embed="includes/form-edit-cv" miembro="{member_id}"}
    {/exp:member:custom_profile_data}   
  </div>
</div>
{embed="includes/footer"}