{embed="includes/header"}
<div class="site-wrapper">
  <div class="site-header">
    <div class="container-fluid p-0">
    {embed="includes/menu"}
    </div>
  </div>
  <div class="site-content">
    <div class="container-sm ptp-7">
      <h1 class="medium-heading text-gray-light text-center">Edita tu perfil</h1>
      <div class="icons">            
      </div>
      <h3 class="text-primary medium-heading">Formación académica</h3>
      <h4 class="text-danger medium-heading">Formación</h4>
        {embed="includes/new_formacion_academica"}
    </div>
  </div>
{embed="includes/footer"}