{embed="includes/header"}
<div class="site-wrapper">
  <div class="site-header">
    <div class="container-fluid p-0">
    {embed="includes/menu"}
    </div>
  </div>
  <div class="site-content">
    <div class="container-sm ptp-7">
      <h1 class="medium-heading text-gray-light text-center">Educación</h1>
      <div class="icons-pasos">
        <ul id="progressbar">
          <li class="active text-primary">Datos Personales</li>
          <li class="text-primary active">C.V</li>
          <li class="text-primary active">Formación académica</li>
        </ul>            
      </div>
      <h2 class="text-primary medium-heading">Formación académica</h2>
        {embed="includes/new_formacion_academica"}
    </div>
  </div>
{embed="includes/footer"}