{embed="includes/header"}
    <div class="site-wrapper">
      <div class="site-header">
        <div class="container-fluid p-0">
          {embed="includes/menu"}
        </div>
      </div>
      {if logged_in}
      <div class="site-content">
	      {exp:channel:entries channel="anuncios" limit="1"}
        <div class="container pvp-7">
          {embed="includes/aside-anuncio"}
          <div class="col-md-7 plp-7">
            <div class="vista-preliminar">
              <h2 class="medium-heading text-gray-light text-left mt-0">{title}</h2>
              {if empresa!=''}
	              <h4 class="text-primary">Empresa:</h4>
	              <p>{empresa}</p>
              {/if}
              {if anuncios_descripcion!=''}
	              <h4 class="text-primary">Descripción:</h4>
	              <p>{anuncios_descripcion}</p>
              {/if}
              {if anuncios_funciones_principales!=''}
	              <h4 class="text-primary">Funciones principales:</h4>
	              <p>{anuncios_funciones_principales}</p>
              {/if}
	            <h5>
		            {if nombre_empresa!=''}
		            	<strong class="text-gray-light inline-block mb-7">Empresa:</strong> {nombre_empresa}<br>
		            {/if}
		            {if localidad!=''}
		            	<strong class="text-gray-light inline-block mb-7">Ciudad:</strong> {localidad}<br>
		            {/if}
		            {if salario!=''}
		            	<strong class="text-gray-light inline-block mb-7">Salario:</strong> {salario}<br>
		            {/if}
		            {if horario!=''}
		            	<strong class="text-gray-light inline-block mb-7">Horario:</strong> {horario}<br>
		            {/if}
		            <strong class="text-gray-light inline-block mb-7">Fecha de publicación:</strong> {entry_date format='%d/%m/%Y'}
		          </h5>              
              <div class="pv-21">
                <div class="col-md-6 p-0">
                	<a href="{site_url}anuncios/todos" class="btn btn-default light mr-7">VOLVER A LA LISTA</a>
                </div>	              
                <div class="col-md-6 p-0 text-right">
	                <form method="post" action="{site_url}index.php/anuncios/aplicacion">
		                <input type="hidden" name="XID" value="{XID_HASH}"> 
		                <input type="hidden" name="member_id" value="{member_id}">
		                <input type="hidden" name="formulario_id" value="{formulario_id}">
		                <input type="hidden" name="composer_id" value="{composer}">
		                <input type="hidden" name="posicion" value="{title}">
		                <input type="hidden" name="empresa" value="{empresa}">
		                <button class="btn btn-postular light">POSTULAR</button>
	                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        {/exp:channel:entries}
        {embed="includes/pie-pagina"}
      {embed="includes/footer"}
      </div>
      {if:else}
      	{redirect="login/signup-login"}
      {/if}
    </div>

