{embed="includes/header"}
    <div class="site-wrapper">
      <div class="site-header">
        <div class="container-fluid p-0">
          {embed="includes/menu"}
        </div>
      </div>
      {if logged_in}
      <div class="site-content">
	      {exp:channel:entries channel="anuncios" limit="1"}
        <div class="container pvp-7">
          {embed="includes/aside-anuncio"}
          <div class="col-md-7 plp-7">
            <div class="vista-preliminar">
              <h1 class="medium-heading text-gray-light text-left mt-0">{title}</h1>
              <h4 class="text-primary">Empresa:</h4>
              <p>{empresa}</p>
              <h4 class="text-primary">Descripción:</h4>
              <p>{anuncios_descripcion}</p>
              <h4 class="text-primary">Funciones principales:</h4>
              <p>{anuncios_funciones_principales}</p>
	            <h5>
		            <strong class="text-gray-light">Empresa:</strong> {nombre_empresa}<br>
		            <strong class="text-gray-light">Ciudad:</strong> {localidad}<br>
		            <strong class="text-gray-light">Salario:</strong> {salario}<br>
		            <strong class="text-gray-light">Horario:</strong> {horario}<br>
		            <strong class="text-gray-light">Fecha de publicación:</strong> {entry_date format='%d/%m/%Y'}
		          </h5>              
              <div class="pv-21 text-right">
                <div class="col-md-6">
                	<a href="{site_url}anuncios/todos" class="btn btn-default light mr-7">VOLVER A LA LISTA</a>
                </div>	              
                <div class="col-md-6">
	                <form method="post" action="{site_url}index.php/anuncios/aplicacion">
		                <input type="hidden" name="XID" value="{XID_HASH}"> 
		                <input type="hidden" name="member_id" value="{member_id}">
		                <input type="hidden" name="formulario_id" value="{formulario_id}">
		                <input type="hidden" name="posicion" value="{title}">
		                <input type="hidden" name="empresa" value="{empresa}">
		                <button class="btn btn-postular light">POSTULAR</button>
	                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        {/exp:channel:entries}
        {embed="includes/pie-pagina"}
      {embed="includes/footer"}
      </div>
      {if:else}
      	{redirect="login/signup-login"}
      {/if}
    </div>

