{embed="includes/header"}
    <div class="site-wrapper">
      <div class="site-header">
        <div class="container-fluid p-0">
          {embed="includes/menu"}
        </div>
      </div>
      <div class="site-content">
        <div class="container pvp-7">
          {embed="includes/aside-anuncio"}
          <div class="col-md-7 plp-7">
            <div class="vista-preliminar">
							<iframe height="3100" allowtransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none" src="https://serviciosfarolito.wufoo.com/embed/z10ppcm21ogodgg/"><a href="https://serviciosfarolito.wufoo.com/forms/z10ppcm21ogodgg/">Fill out my Wufoo form!</a></iframe>
							<style>
								.wufoo .section div { 
									color:red !important;		
								}
							</style>
              <div class="pv-21 text-right">
                <a href="#" class="btn btn-default light mr-7">VOLVER A LA LISTA</a>
                <a href="#" class="btn btn-postular light">POSTULAR</a>
              </div>
            </div>
          </div>
        </div>
        {embed="includes/pie-pagina"}
      {embed="includes/footer"}
      </div>
      
    </div>

