{embed="includes/header"}
    <div class="site-wrapper">
      <div class="site-header">
        <div class="container-fluid p-0">
          {embed="includes/menu"}
        </div>
      </div>
      <div class="site-content">
        <div class="container pvp-7">
          <div class="col-md-10 col-md-offset-1">
            <div class="vista-preliminar">
	            
	            <h1 class="medium-heading text-gray-light text-left mt-0">{get_post:posicion}</h1>
	            
	            
	            
	            {exp:freeform:composer
							    form_id="{get_post:formulario_id}"
							    composer_template_name="{get_post:composer_id}"
							    return="anuncios/gracias-por-postular"
							}							
            </div>
          </div>
        </div>
        {embed="includes/pie-pagina"}
      {embed="includes/footer"}
      </div>
      
    </div>

