{embed="includes/header"}
    <div class="site-wrapper">
      <div class="site-header">
        <div class="container-fluid p-0">
          {embed="includes/menu"}
        </div>
      </div>
      <div class="site-content">
        <div class="container text-center ptp-14 ph-21">
          <h1 class="light-heading text-primary">!Excelente!</h1>
          <h3 class="text-gray-light mt-28">Has completado tu postulación. Pronto nos contactaremos contigo para una entrevista personal.</h3>
          <div class="pv-14 text-center mtp-7">
            <a href="#" class="btn btn-danger btn-complete btn-lg light">IR AL PERFIL</a>
          </div>
        </div>
        {embed="includes/pie-pagina"}
      {embed="includes/footer"}        
      </div>
    </div>