{embed="includes/header"}
    <div class="site-wrapper">
      <div class="site-header">
        <div class="container-fluid p-0">
          {embed="includes/menu"}
        </div>
      </div>
      <div class="site-content">
        <section class="minhp-100 pt-70">
          <div class="container">
            <h1 class="text-center">Lista de Oportunidades</h1>
	            {exp:channel:entries channel="anuncios" limit="10" dynamic="off"}
                <a href="{site_url}anuncios/anuncio/{url_title}">
	                <div class="content">
	                  <h5 class="text-primary mt-28">{title}</h5>
	                  <p>{anuncios_descripcion}</p>
	                </div>
                </a>
              {/exp:channel:entries}
          </div>
        </section>
      </div>
      {embed="includes/pie-pagina"}
    </div>
{embed="includes/footer"}
