  {embed="includes/header"}  
    <div class="site-wrapper">
      <div class="site-header">
        <div class="container-fluid p-0">
          {embed="includes/menu"}
        </div>
      </div>
      <div class="site-content">
        <div class="container-sm pvp-7">
          <div class="hoja">
            <h1 class="mt-7 text-center text-gray-light medium-heading">Lista de oportunidades</h1>
            {exp:channel:entries channel="anuncios" limit="10" dynamic="off"}
            <div class="clearfix pb-28 pt-28">
                <h4 class="text-primary"><u>{title}</u></h4>
		            <h5>
			            <strong class="text-gray-light inline-block mb-7">Empresa:</strong> {nombre_empresa}<br>
			            <strong class="text-gray-light inline-block mb-7">Ciudad:</strong> {localidad}<br>
			            <strong class="text-gray-light inline-block mb-7">Salario:</strong> {salario}<br>
			            <strong class="text-gray-light inline-block mb-7">Horario:</strong> {horario}
			          </h5>
                <div class="pull-right btn btn-custom danger">
                  <a href="{site_url}anuncios/anuncio/{url_title}">VER MÁS</a>
                </div>
            </div>
            {/exp:channel:entries}
          </div>
        </div>
      </div>
      {embed="includes/pie-pagina"}
    </div>
{embed="includes/footer"}