  {embed="includes/header"}  
    <div class="site-wrapper">
      <div class="site-header">
        <div class="container-fluid p-0">
          {embed="includes/menu"}
        </div>
      </div>
      <div class="site-content">
        <div class="container pvp-7">
          {embed="includes/aside-anuncio"}
          <div class="col-md-7 plp-7">
            <div class="hoja">
              <h1 class="mt-7 text-center text-gray-light medium-heading">Lista de oportunidades</h1>
              {exp:channel:entries channel="anuncios" limit="10" dynamic="off"}
              <div class="clearfix pb-28 pt-28">
                  <h4 class="text-primary"><u>{title}</u></h4>
                  <h5><strong class="text-gray-light">Empresa:</strong> {nombre_empresa}</h5>
                  <h5><strong class="text-gray-light">Ciudad:</strong> {localidad}</h5>
                  <h5><strong class="text-gray-light">Salario:</strong> {salario}</h5>
                  <h5><strong class="text-gray-light">Horario:</strong> {horario}</h5>
                  <div class="pull-right btn btn-custom danger">
                    <a href="{site_url}anuncios/anuncio/{url_title}">VER MÁS</a>
                  </div>
              </div>
              {/exp:channel:entries}
            </div>
          </div>
        </div>
      {embed="includes/pie-pagina"}
      </div>
    </div>
{embed="includes/footer"}