{embed="includes/header"}
    <div class="site-wrapper">
      <div class="site-header">
        <div class="container-fluid p-0">
          {embed="includes/menu"}
        </div>
      </div>
      <div class="site-content">
        <div class="container text-center flex-middle-center minhp-100 ptp-7 ph-21">
          <h1 class="light-heading text-primary">!Te hemos enviado un correo!</h1>
          <h3 class="text-gray-light mt-28">Sigue las instrucciones que enviamos a tu correo para cambiar la contraseña.</h3>
          <img src="{site_url}assets/icons/ilustracion-26.png" alt="" class="mt-35">
        </div>
        {embed="includes/pie-pagina"}
      {embed="includes/footer"}        
      </div>
    </div>